<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/masthead') %>
  <div class="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <p>
    <!-- twitter follow button start -->
    <%- partial('_custom_sns/twitter_follow') %>
    <!-- twitter follow button end -->
    <!-- twitter share button start -->
    <%- partial('_custom_sns/twitter_share') %>
    <!-- twitter share button end -->
    <!-- RSS Feed start -->
    <a href="https://<%= config.url %>/atom.xml"><img src="images/rss_32.png" alt="RSSを購読する"></a>
    <!-- RSS Feed end -->
    </p>
    <!-- Google Adsense TechBlog Head start -->
    <%- partial('_custom_ad/google_adsense_techblog_head') %>
    <!-- Google Adsense TechBlog Head end -->
    <div class="row">
        <div class="col-sm-8 blog-main">
          <%- body %>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <!-- Google Adsense TechBlog Side start -->
          <%- partial('_custom_ad/google_adsense_techblog_side') %>
          <!-- Google Adsense TechBlog Side end -->
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
          <!-- Amazon Affiliate Side start -->
          <%- partial('_custom_ad/amazon_affiliate_side') %>
          <!-- Amazon Affiliate Side end -->
        </div>
    </div>
    <!-- Google Adsense TechBlog Foot start -->
    <%- partial('_custom_ad/google_adsense_techblog_foot') %>
    <!-- Google Adsense TechBlog Foot end -->
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/inline-scripts') %>
</body>
</html>
